src/main/mule/global-financial-account-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:db="http://www.mulesoft.org/schema/mule/db"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- GET /accounts - Business Logic Flow -->
  <flow name="get-accounts-business-logic" doc:name="get-accounts-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Global Accounts" doc:id="mock-select-global-accounts">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    id: 1,
    global_id: "550e8400-e29b-41d4-a716-446655440000",
    account_number: "ACC001",
    account_type: "Checking",
    account_name: "Compte Courant Principal",
    currency: "USD",
    balance: 5000.00,
    available_balance: 4950.00,
    status: "Active",
    opened_date: "2024-01-01",
    closed_date: null,
    interest_rate: 0.01,
    created_at: "2024-01-01T10:00:00Z",
    updated_at: "2024-01-01T10:00:00Z"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Store Accounts">
        <ee:variables>
          <ee:set-variable variableName="accounts"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <foreach doc:name="Get Owners for Each Account">
        <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
        <ee:transform doc:name="Mock Get Account Owners" doc:id="mock-get-account-owners">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    customer_global_id: "550e8400-e29b-41d4-a716-446655440000",
    relationship_type: "Primary"
  }
] default []]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <ee:transform doc:name="Add Owners">
          <ee:variables>
            <ee:set-variable variableName="accountWithOwners"><![CDATA[%dw 2.0
output application/java
---
payload[0] ++ {owners: payload}]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </foreach>

      <ee:transform doc:name="Transform to Account Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.accounts map ((account) -> {
  id: account.id,
  globalId: account.global_id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: (account.owners default []) map ((owner) -> {
    customerGlobalId: owner.customer_global_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <set-variable value="200" doc:name="httpStatus" doc:id="483c74a5-55a1-4791-af52-5b324a45da9e" variableName="httpStatus" />
			<error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="10601b59-481e-467f-903b-1b03ae532056" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /accounts - Business Logic Flow -->
  <flow name="upsert-account-business-logic" doc:name="upsert-account-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  global_id: payload.globalId default null,
  account_number: payload.accountNumber,
  account_type: payload.accountType,
  account_name: payload.accountName default null,
  currency: payload.currency default "USD",
  balance: payload.balance default 0.00,
  available_balance: payload.availableBalance default payload.balance default 0.00,
  status: payload.status default 'Active',
  opened_date: payload.openedDate default null,
  closed_date: payload.closedDate default null,
  interest_rate: payload.interestRate default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="accountData"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
        <ee:set-variable variableName="owners"><![CDATA[%dw 2.0
output application/java
---
payload.owners default []]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <choice doc:name="Upsert Strategy">
        <when expression="#[vars.accountData.global_id != null]">
          <!-- MOCK: Remplacement de l'appel DB update par des données mockées -->
          <ee:transform doc:name="Mock Update Account by Global ID" doc:id="mock-update-account-global-id">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = vars.accountData
---
[{
  id: 1,
  global_id: data.global_id,
  account_number: data.account_number,
  account_type: data.account_type,
  account_name: data.account_name,
  currency: data.currency,
  balance: data.balance,
  available_balance: data.available_balance,
  status: data.status,
  opened_date: data.opened_date,
  closed_date: data.closed_date,
  interest_rate: data.interest_rate,
  created_at: "2024-01-01T10:00:00Z",
  updated_at: now()
}]]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </when>
        <otherwise>
          <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
          <ee:transform doc:name="Mock Insert New Account" doc:id="mock-insert-new-account">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = vars.accountData
---
[{
  id: 1,
  global_id: "550e8400-e29b-41d4-a716-446655440000",
  account_number: data.account_number,
  account_type: data.account_type,
  account_name: data.account_name,
  currency: data.currency,
  balance: data.balance,
  available_balance: data.available_balance,
  status: data.status,
  opened_date: data.opened_date,
  closed_date: data.closed_date,
  interest_rate: data.interest_rate,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </otherwise>
      </choice>

      <ee:transform doc:name="Store Account and Global ID">
        <ee:variables>
          <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
          <ee:set-variable variableName="accountGlobalId"><![CDATA[%dw 2.0
output application/java
---
payload[0].global_id]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <!-- MOCK: Remplacement de l'appel DB delete par des données mockées -->
      <ee:transform doc:name="Mock Delete Old Owners" doc:id="mock-delete-old-owners">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  success: true
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <foreach doc:name="Insert Owners">
        <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
        <ee:transform doc:name="Mock Insert Owner" doc:id="mock-insert-owner">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  success: true
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
      </foreach>

      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Get Owners" doc:id="mock-get-owners-global">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    customer_global_id: "550e8400-e29b-41d4-a716-446655440000",
    relationship_type: "Primary"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id,
  globalId: account.global_id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerGlobalId: owner.customer_global_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <set-variable value="#[vars.account.global_id == null ? 201 : 200]" doc:name="httpStatus" doc:id="1fe600b2-02d2-401d-9f98-f3abaa59216a" variableName="httpStatus" />
			<error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the account",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="68b3142c-6df5-4cc0-946b-109c8a956796" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /accounts/{accountGlobalId} - Récupérer un compte par Global ID -->
  <flow name="get-account-by-global-id-business-logic" doc:name="get-account-by-global-id-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Account by Global ID" doc:id="mock-select-account-global-id">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var accountGlobalId = vars.accountGlobalId default "550e8400-e29b-41d4-a716-446655440000"
---
[{
  id: 1,
  global_id: accountGlobalId,
  account_number: "ACC001",
  account_type: "Checking",
  account_name: "Compte Courant Principal",
  currency: "USD",
  balance: 5000.00,
  available_balance: 4950.00,
  status: "Active",
  opened_date: "2024-01-01",
  closed_date: null,
  interest_rate: 0.01,
  created_at: "2024-01-01T10:00:00Z",
  updated_at: "2024-01-01T10:00:00Z"
}] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Account Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Account">
            <ee:variables>
              <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
          <ee:transform doc:name="Mock Get Owners" doc:id="mock-get-owners-2">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    customer_global_id: "550e8400-e29b-41d4-a716-446655440000",
    relationship_type: "Primary"
  }
] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id,
  globalId: account.global_id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerGlobalId: owner.customer_global_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="7f4ee5f0-842b-42d1-85da-33fc9e6caa19" variableName="httpStatus" />
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Account not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="0533ce3b-fca3-431f-aa9c-49e989012164" variableName="httpStatus" />
        
</otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="5879a5c8-5904-4c80-a9d6-0f0ca837fe81" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /transactions - Business Logic Flow -->
  <flow name="get-transactions-business-logic" doc:name="get-transactions-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Transactions" doc:id="mock-select-transactions-global">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    id: 1,
    global_id: "550e8400-e29b-41d4-a716-446655440001",
    transaction_number: "TXN001",
    account_global_id: "550e8400-e29b-41d4-a716-446655440000",
    transaction_type: "Debit",
    amount: -100.00,
    currency: "USD",
    transaction_date: "2024-01-15",
    value_date: "2024-01-15",
    description: "Purchase at Store",
    merchant_name: "Store ABC",
    category: "Retail",
    check_number: null,
    reference_number: "REF001",
    related_account_global_id: null,
    status: "Posted",
    dispute_status: "None",
    dispute_reason: null,
    created_at: "2024-01-15T10:00:00Z",
    updated_at: "2024-01-15T10:00:00Z"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((txn) -> {
  id: txn.id,
  globalId: txn.global_id,
  transactionNumber: txn.transaction_number,
  accountGlobalId: txn.account_global_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountGlobalId: txn.related_account_global_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <set-variable value="200" doc:name="httpStatus" doc:id="f6cc901e-3253-40c4-a299-de245b5cb427" variableName="httpStatus" />
			<error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="b9b1d147-9d07-4dd8-8706-92bd0127ac99" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /transactions - Business Logic Flow -->
  <flow name="upsert-transaction-business-logic" doc:name="upsert-transaction-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  global_id: payload.globalId default null,
  transaction_number: payload.transactionNumber,
  account_global_id: payload.accountGlobalId,
  transaction_type: payload.transactionType,
  amount: payload.amount,
  currency: payload.currency default "USD",
  transaction_date: payload.transactionDate default now(),
  value_date: payload.valueDate default null,
  description: payload.description default null,
  merchant_name: payload.merchantName default null,
  category: payload.category default null,
  check_number: payload.checkNumber default null,
  reference_number: payload.referenceNumber default null,
  related_account_global_id: payload.relatedAccountGlobalId default null,
  status: payload.status default 'Posted',
  dispute_status: payload.disputeStatus default 'None',
  dispute_reason: payload.disputeReason default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <choice doc:name="Upsert Strategy">
        <when expression="#[payload.global_id != null]">
          <!-- MOCK: Remplacement de l'appel DB update par des données mockées -->
          <ee:transform doc:name="Mock Update Transaction" doc:id="mock-update-transaction-global">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: 1,
  global_id: data.global_id,
  transaction_number: data.transaction_number,
  account_global_id: data.account_global_id,
  transaction_type: data.transaction_type,
  amount: data.amount,
  currency: data.currency,
  transaction_date: data.transaction_date,
  value_date: data.value_date,
  description: data.description,
  merchant_name: data.merchant_name,
  category: data.category,
  check_number: data.check_number,
  reference_number: data.reference_number,
  related_account_global_id: data.related_account_global_id,
  status: data.status,
  dispute_status: data.dispute_status,
  dispute_reason: data.dispute_reason,
  created_at: "2024-01-15T10:00:00Z",
  updated_at: now()
}]]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </when>
        <otherwise>
          <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
          <ee:transform doc:name="Mock Insert New Transaction" doc:id="mock-insert-transaction-global">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: 1,
  global_id: "550e8400-e29b-41d4-a716-446655440001",
  transaction_number: data.transaction_number,
  account_global_id: data.account_global_id,
  transaction_type: data.transaction_type,
  amount: data.amount,
  currency: data.currency,
  transaction_date: data.transaction_date,
  value_date: data.value_date,
  description: data.description,
  merchant_name: data.merchant_name,
  category: data.category,
  check_number: data.check_number,
  reference_number: data.reference_number,
  related_account_global_id: data.related_account_global_id,
  status: data.status,
  dispute_status: data.dispute_status,
  dispute_reason: data.dispute_reason,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </otherwise>
      </choice>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  globalId: txn.global_id,
  transactionNumber: txn.transaction_number,
  accountGlobalId: txn.account_global_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountGlobalId: txn.related_account_global_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <set-variable value="#[payload[0].global_id == null ? 201 : 200]" doc:name="httpStatus" doc:id="35b5529c-65b9-4302-9881-b597777e5567" variableName="httpStatus" />
			<error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="a326bbd5-eafe-43c9-9102-b6c2dbd332ae" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /cards - Business Logic Flow -->
  <flow name="get-cards-business-logic" doc:name="get-cards-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Global Cards" doc:id="mock-select-global-cards">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    id: 1,
    global_id: "550e8400-e29b-41d4-a716-446655440002",
    card_number: "4532123456789012",
    card_type: "Credit",
    card_network: "Visa",
    customer_global_id: "550e8400-e29b-41d4-a716-446655440000",
    account_global_id: "550e8400-e29b-41d4-a716-446655440000",
    cardholder_name: "Jean Dupont",
    expiration_date: "2025-12-31",
    status: "Active",
    credit_limit: 5000.00,
    available_credit: 4500.00,
    daily_purchase_limit: 1000.00,
    daily_atm_withdrawal_limit: 500.00,
    international_transactions_enabled: true,
    online_transactions_enabled: true,
    issued_date: "2024-01-01",
    created_at: "2024-01-01T10:00:00Z",
    updated_at: "2024-01-01T10:00:00Z"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((card) -> {
  id: card.id,
  globalId: card.global_id,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerGlobalId: card.customer_global_id,
  accountGlobalId: card.account_global_id,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <set-variable value="200" doc:name="httpStatus" doc:id="ca22c6ab-0626-4027-bffd-2330240d847e" variableName="httpStatus" />
			<error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying cards",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="a9baaaed-880d-4fff-88bd-5b4116324fdb" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /cards - Upsert Card -->
  <flow name="upsert-card-business-logic" doc:name="upsert-card-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var controls = payload.controls default {}
---
{
  global_id: payload.globalId default null,
  card_number: payload.cardNumber,
  card_type: payload.cardType,
  card_network: payload.cardNetwork default null,
  customer_global_id: payload.customerGlobalId,
  account_global_id: payload.accountGlobalId default null,
  cardholder_name: payload.cardholderName default null,
  expiration_date: payload.expirationDate default null,
  status: payload.status default 'Active',
  credit_limit: payload.creditLimit default null,
  available_credit: payload.availableCredit default payload.creditLimit default null,
  daily_purchase_limit: controls.dailyPurchaseLimit default null,
  daily_atm_withdrawal_limit: controls.dailyATMWithdrawalLimit default null,
  international_transactions_enabled: controls.internationalTransactionsEnabled default true,
  online_transactions_enabled: controls.onlineTransactionsEnabled default true,
  issued_date: payload.issuedDate default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <choice doc:name="Upsert Strategy">
        <when expression="#[payload.global_id != null]">
          <!-- MOCK: Remplacement de l'appel DB update par des données mockées -->
          <ee:transform doc:name="Mock Update Card" doc:id="mock-update-card-global">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: 1,
  global_id: data.global_id,
  card_number: data.card_number,
  card_type: data.card_type,
  card_network: data.card_network,
  customer_global_id: data.customer_global_id,
  account_global_id: data.account_global_id,
  cardholder_name: data.cardholder_name,
  expiration_date: data.expiration_date,
  status: data.status,
  credit_limit: data.credit_limit,
  available_credit: data.available_credit,
  daily_purchase_limit: data.daily_purchase_limit,
  daily_atm_withdrawal_limit: data.daily_atm_withdrawal_limit,
  international_transactions_enabled: data.international_transactions_enabled,
  online_transactions_enabled: data.online_transactions_enabled,
  issued_date: data.issued_date,
  created_at: "2024-01-01T10:00:00Z",
  updated_at: now()
}]]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </when>
        <otherwise>
          <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
          <ee:transform doc:name="Mock Insert New Card" doc:id="mock-insert-card-global">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: 1,
  global_id: "550e8400-e29b-41d4-a716-446655440002",
  card_number: data.card_number,
  card_type: data.card_type,
  card_network: data.card_network,
  customer_global_id: data.customer_global_id,
  account_global_id: data.account_global_id,
  cardholder_name: data.cardholder_name,
  expiration_date: data.expiration_date,
  status: data.status,
  credit_limit: data.credit_limit,
  available_credit: data.available_credit,
  daily_purchase_limit: data.daily_purchase_limit,
  daily_atm_withdrawal_limit: data.daily_atm_withdrawal_limit,
  international_transactions_enabled: data.international_transactions_enabled,
  online_transactions_enabled: data.online_transactions_enabled,
  issued_date: data.issued_date,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </otherwise>
      </choice>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var card = payload[0]
---
{
  id: card.id,
  globalId: card.global_id,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerGlobalId: card.customer_global_id,
  accountGlobalId: card.account_global_id,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      
      <set-variable value="#[payload[0].global_id == null ? 201 : 200]" doc:name="httpStatus" doc:id="4f2314a2-5df7-4eb1-802b-b325bffa7a9b" variableName="httpStatus" />
			<error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the card",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="4bb6660e-e3bc-4407-aa41-6175fd07760c" variableName="httpStatus" />
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
