src/main/mule/global-financial-account-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

  <!-- GET /accounts - Business Logic Flow -->
  <flow name="get-accounts-business-logic" doc:name="get-accounts-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Select Global Accounts">
        <db:sql><![CDATA[
          SELECT a.*
          FROM global_accounts a
          WHERE
            (:globalId::uuid IS NULL OR a.global_id = :globalId::uuid)
            AND (:accountNumber IS NULL OR a.account_number = :accountNumber)
            AND (:accountType IS NULL OR a.account_type = :accountType)
            AND (:customerGlobalId::uuid IS NULL OR EXISTS (
              SELECT 1 FROM global_account_owners ao
              WHERE ao.account_global_id = a.global_id
              AND ao.customer_global_id = :customerGlobalId::uuid
            ))
          ORDER BY a.created_at DESC
          LIMIT :limit::integer OFFSET :offset::integer
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[payload default {}]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Store Accounts">
        <ee:variables>
          <ee:set-variable variableName="accounts"><![CDATA[%dw 2.0
output application/java
---
if (payload is Array) payload else [payload] default []]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <db:select config-ref="Database_Config" doc:name="Select Account Owners">
        <db:sql><![CDATA[
          SELECT account_global_id, customer_global_id, relationship_type
          FROM global_account_owners
          WHERE account_global_id = ANY(:accountGlobalIds::uuid[])
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[%dw 2.0
output application/java
---
{
  accountGlobalIds: vars.accounts map ((acc) -> acc.global_id)
}]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Transform to Account Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var accounts = vars.accounts
var owners = payload
var ownersByAccount = owners groupBy $.account_global_id
---
accounts map ((account) -> {
  id: account.id as String,
  globalId: account.global_id as String,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: (ownersByAccount[account.global_id as String] default []) map ((owner) -> {
    customerGlobalId: owner.customer_global_id as String,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /accounts - Business Logic Flow -->
  <flow name="upsert-account-business-logic" doc:name="upsert-account-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  global_id: payload.globalId default null,
  account_number: payload.accountNumber,
  account_type: payload.accountType,
  account_name: payload.accountName default null,
  currency: payload.currency default "USD",
  balance: payload.balance default 0.00,
  available_balance: payload.availableBalance default payload.balance default 0.00,
  status: payload.status default 'Active',
  opened_date: payload.openedDate default null,
  closed_date: payload.closedDate default null,
  interest_rate: payload.interestRate default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="accountData"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
        <ee:set-variable variableName="owners"><![CDATA[%dw 2.0
output application/java
---
payload.owners default []]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <db:insert config-ref="Database_Config" doc:name="Upsert Account">
        <db:sql><![CDATA[
          INSERT INTO global_accounts (
            global_id, account_number, account_type, account_name, currency,
            balance, available_balance, status, opened_date, closed_date, interest_rate
          )
          VALUES (
            COALESCE(:global_id::uuid, gen_random_uuid()),
            :account_number, :account_type, :account_name, :currency,
            :balance, :available_balance, :status, :opened_date::date, :closed_date::date, :interest_rate
          )
          ON CONFLICT (global_id) DO UPDATE SET
            account_number = EXCLUDED.account_number,
            account_type = EXCLUDED.account_type,
            account_name = EXCLUDED.account_name,
            currency = EXCLUDED.currency,
            balance = EXCLUDED.balance,
            available_balance = EXCLUDED.available_balance,
            status = EXCLUDED.status,
            opened_date = EXCLUDED.opened_date,
            closed_date = EXCLUDED.closed_date,
            interest_rate = EXCLUDED.interest_rate,
            updated_at = CURRENT_TIMESTAMP
          RETURNING *
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[vars.accountData]]]></db:input-parameters>
      </db:insert>

      <ee:transform doc:name="Store Account">
        <ee:variables>
          <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
          <ee:set-variable variableName="accountGlobalId"><![CDATA[%dw 2.0
output application/java
---
payload[0].global_id]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <choice doc:name="Has Owners?">
        <when expression="#[sizeOf(vars.owners) > 0]">
          <db:delete config-ref="Database_Config" doc:name="Delete Existing Owners">
            <db:sql><![CDATA[
              DELETE FROM global_account_owners
              WHERE account_global_id = :accountGlobalId::uuid
            ]]></db:sql>
            <db:input-parameters><![CDATA[#[{
              accountGlobalId: vars.accountGlobalId
            }]]]></db:input-parameters>
          </db:delete>

          <ee:transform doc:name="Transform Owners for Insert">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.owners map ((owner) -> {
  account_global_id: vars.accountGlobalId,
  customer_global_id: owner.customerGlobalId,
  relationship_type: owner.relationshipType default "Primary"
})]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <foreach doc:name="Insert Owners">
            <db:insert config-ref="Database_Config" doc:name="Insert Owner">
              <db:sql><![CDATA[
                INSERT INTO global_account_owners (
                  account_global_id, customer_global_id, relationship_type
                )
                VALUES (
                  :account_global_id::uuid, :customer_global_id::uuid, :relationship_type
                )
                ON CONFLICT (account_global_id, customer_global_id) DO UPDATE SET
                  relationship_type = EXCLUDED.relationship_type
                RETURNING *
              ]]></db:sql>
              <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
            </db:insert>
          </foreach>
        </when>
      </choice>

      <db:select config-ref="Database_Config" doc:name="Get Owners">
        <db:sql><![CDATA[
          SELECT customer_global_id, relationship_type
          FROM global_account_owners
          WHERE account_global_id = :accountGlobalId::uuid
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[{
          accountGlobalId: vars.accountGlobalId
        }]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id as String,
  globalId: account.global_id as String,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerGlobalId: owner.customer_global_id as String,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="#[if(vars.accountData.global_id == null) 201 else 200]" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the account",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /accounts/{accountGlobalId} - Récupérer un compte par Global ID -->
  <flow name="get-account-by-global-id-business-logic" doc:name="get-account-by-global-id-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Select Account by Global ID">
        <db:sql><![CDATA[
          SELECT *
          FROM global_accounts
          WHERE global_id = :accountGlobalId::uuid
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[{
          accountGlobalId: vars.accountGlobalId
        }]]]></db:input-parameters>
      </db:select>

      <choice doc:name="Account Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Account">
            <ee:variables>
              <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <db:select config-ref="Database_Config" doc:name="Get Owners">
            <db:sql><![CDATA[
              SELECT customer_global_id, relationship_type
              FROM global_account_owners
              WHERE account_global_id = :accountGlobalId::uuid
            ]]></db:sql>
            <db:input-parameters><![CDATA[#[{
              accountGlobalId: vars.accountGlobalId
            }]]]></db:input-parameters>
          </db:select>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id as String,
  globalId: account.global_id as String,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerGlobalId: owner.customer_global_id as String,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Account not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /transactions - Business Logic Flow -->
  <flow name="get-transactions-business-logic" doc:name="get-transactions-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Select Transactions">
        <db:sql><![CDATA[
          SELECT *
          FROM global_transactions
          WHERE
            (:accountGlobalId::uuid IS NULL OR account_global_id = :accountGlobalId::uuid)
            AND (:startDate::date IS NULL OR transaction_date >= :startDate::date)
            AND (:endDate::date IS NULL OR transaction_date <= :endDate::date)
          ORDER BY transaction_date DESC
          LIMIT :limit::integer OFFSET :offset::integer
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[payload default {}]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((txn) -> {
  id: txn.id as String,
  globalId: txn.global_id as String,
  transactionNumber: txn.transaction_number,
  accountGlobalId: txn.account_global_id as String,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountGlobalId: txn.related_account_global_id as String,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /transactions - Business Logic Flow -->
  <flow name="upsert-transaction-business-logic" doc:name="upsert-transaction-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  global_id: payload.globalId default null,
  transaction_number: payload.transactionNumber,
  account_global_id: payload.accountGlobalId,
  transaction_type: payload.transactionType,
  amount: payload.amount,
  currency: payload.currency default "USD",
  transaction_date: payload.transactionDate default now(),
  value_date: payload.valueDate default null,
  description: payload.description default null,
  merchant_name: payload.merchantName default null,
  category: payload.category default null,
  check_number: payload.checkNumber default null,
  reference_number: payload.referenceNumber default null,
  related_account_global_id: payload.relatedAccountGlobalId default null,
  status: payload.status default 'Posted',
  dispute_status: payload.disputeStatus default 'None',
  dispute_reason: payload.disputeReason default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <db:insert config-ref="Database_Config" doc:name="Upsert Transaction">
        <db:sql><![CDATA[
          INSERT INTO global_transactions (
            global_id, transaction_number, account_global_id, transaction_type, amount,
            currency, transaction_date, value_date, description, merchant_name, category,
            check_number, reference_number, related_account_global_id, status,
            dispute_status, dispute_reason
          )
          VALUES (
            COALESCE(:global_id::uuid, gen_random_uuid()),
            :transaction_number, :account_global_id::uuid, :transaction_type, :amount,
            :currency, :transaction_date::timestamp, :value_date::date, :description, :merchant_name, :category,
            :check_number, :reference_number, :related_account_global_id::uuid, :status,
            :dispute_status, :dispute_reason
          )
          ON CONFLICT (global_id) DO UPDATE SET
            transaction_number = EXCLUDED.transaction_number,
            account_global_id = EXCLUDED.account_global_id,
            transaction_type = EXCLUDED.transaction_type,
            amount = EXCLUDED.amount,
            currency = EXCLUDED.currency,
            transaction_date = EXCLUDED.transaction_date,
            value_date = EXCLUDED.value_date,
            description = EXCLUDED.description,
            merchant_name = EXCLUDED.merchant_name,
            category = EXCLUDED.category,
            check_number = EXCLUDED.check_number,
            reference_number = EXCLUDED.reference_number,
            related_account_global_id = EXCLUDED.related_account_global_id,
            status = EXCLUDED.status,
            dispute_status = EXCLUDED.dispute_status,
            dispute_reason = EXCLUDED.dispute_reason,
            updated_at = CURRENT_TIMESTAMP
          RETURNING *
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
      </db:insert>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id as String,
  globalId: txn.global_id as String,
  transactionNumber: txn.transaction_number,
  accountGlobalId: txn.account_global_id as String,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountGlobalId: txn.related_account_global_id as String,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="#[if(payload[0].global_id != null and payload[0].created_at == payload[0].updated_at) 201 else 200]" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /cards - Business Logic Flow -->
  <flow name="get-cards-business-logic" doc:name="get-cards-business-logic">
    <try doc:name="Try">
      <db:select config-ref="Database_Config" doc:name="Select Global Cards">
        <db:sql><![CDATA[
          SELECT *
          FROM global_cards
          WHERE
            (:customerGlobalId::uuid IS NULL OR customer_global_id = :customerGlobalId::uuid)
            AND (:accountGlobalId::uuid IS NULL OR account_global_id = :accountGlobalId::uuid)
          ORDER BY created_at DESC
          LIMIT :limit::integer OFFSET :offset::integer
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[payload default {}]]]></db:input-parameters>
      </db:select>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((card) -> {
  id: card.id as String,
  globalId: card.global_id as String,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerGlobalId: card.customer_global_id as String,
  accountGlobalId: card.account_global_id as String,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying cards",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /cards - Upsert Card -->
  <flow name="upsert-card-business-logic" doc:name="upsert-card-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var controls = payload.controls default {}
---
{
  global_id: payload.globalId default null,
  card_number: payload.cardNumber,
  card_type: payload.cardType,
  card_network: payload.cardNetwork default null,
  customer_global_id: payload.customerGlobalId,
  account_global_id: payload.accountGlobalId default null,
  cardholder_name: payload.cardholderName default null,
  expiration_date: payload.expirationDate default null,
  status: payload.status default 'Active',
  credit_limit: payload.creditLimit default null,
  available_credit: payload.availableCredit default payload.creditLimit default null,
  daily_purchase_limit: controls.dailyPurchaseLimit default null,
  daily_atm_withdrawal_limit: controls.dailyATMWithdrawalLimit default null,
  international_transactions_enabled: controls.internationalTransactionsEnabled default true,
  online_transactions_enabled: controls.onlineTransactionsEnabled default true,
  issued_date: payload.issuedDate default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <db:insert config-ref="Database_Config" doc:name="Upsert Card">
        <db:sql><![CDATA[
          INSERT INTO global_cards (
            global_id, card_number, card_type, card_network, customer_global_id, account_global_id,
            cardholder_name, expiration_date, status, credit_limit, available_credit,
            daily_purchase_limit, daily_atm_withdrawal_limit,
            international_transactions_enabled, online_transactions_enabled, issued_date
          )
          VALUES (
            COALESCE(:global_id::uuid, gen_random_uuid()),
            :card_number, :card_type, :card_network, :customer_global_id::uuid, :account_global_id::uuid,
            :cardholder_name, :expiration_date::date, :status, :credit_limit, :available_credit,
            :daily_purchase_limit, :daily_atm_withdrawal_limit,
            :international_transactions_enabled, :online_transactions_enabled, :issued_date::date
          )
          ON CONFLICT (global_id) DO UPDATE SET
            card_number = EXCLUDED.card_number,
            card_type = EXCLUDED.card_type,
            card_network = EXCLUDED.card_network,
            customer_global_id = EXCLUDED.customer_global_id,
            account_global_id = EXCLUDED.account_global_id,
            cardholder_name = EXCLUDED.cardholder_name,
            expiration_date = EXCLUDED.expiration_date,
            status = EXCLUDED.status,
            credit_limit = EXCLUDED.credit_limit,
            available_credit = EXCLUDED.available_credit,
            daily_purchase_limit = EXCLUDED.daily_purchase_limit,
            daily_atm_withdrawal_limit = EXCLUDED.daily_atm_withdrawal_limit,
            international_transactions_enabled = EXCLUDED.international_transactions_enabled,
            online_transactions_enabled = EXCLUDED.online_transactions_enabled,
            issued_date = EXCLUDED.issued_date,
            updated_at = CURRENT_TIMESTAMP
          RETURNING *
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
      </db:insert>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var card = payload[0]
---
{
  id: card.id as String,
  globalId: card.global_id as String,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerGlobalId: card.customer_global_id as String,
  accountGlobalId: card.account_global_id as String,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="#[if(payload[0].global_id != null and payload[0].created_at == payload[0].updated_at) 201 else 200]" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while upserting the card",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
